# Docker user and group IDs (root user is set by default)
# To find your user ID and group ID on Linux, use commands: `id -u` and `id -g`
DOCKER_USER_ID=0
DOCKER_GROUP_ID=0

# mongodb
MONGO_HOST=sc-mongodb
MONGO_ADMIN_USERNAME=sc_admin
MONGO_ADMIN_PASSWORD=_sc_password_567
MONGO_PORT=27017
MONGO_DOCKER_PORT=29079

# mysql
MYSQL_HOST=sc-mysql
MYSQL_PORT=3306
MYSQL_DATABASE=u_test
MYSQL_USER=sc_user
MYSQL_PASSWORD=_sc_password_567
MYSQL_ROOT_PASSWORD=_sc_root_password_567
MYSQL_DOCKER_PORT=23306

# postgres
POSTGRES_HOST=sc-postgres
POSTGRES_PORT=5432
POSTGRES_DB=u_test
POSTGRES_USER=sc_user
POSTGRES_PASSWORD=_sc_password_567
POSTGRES_DOCKER_PORT=25432

# rabbitmq
RABBITMQ_HOST=sc-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=sc_user
RABBITMQ_PASSWORD=_sc_password_567
RABBITMQ_VHOST=/
RABBITMQ_DOCKER_PORT=25673
RABBITMQ_MANAGEMENT_DOCKER_PORT=35672

# redis
REDIS_HOST=sc-redis
REDIS_PORT=6379
REDIS_PASSWORD=_sc_password_567
REDIS_DB=0
REDIS_DOCKER_PORT=26379
